.error {
  position: absolute;
  color: red;
  font-size: 0.6rem;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 !important;
}

.content-container {
  display: flex;
}
